@page "{breweryId:int}"
@model DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Brewery.Name</h2>
<div>
    Website: @Model.Brewery.Website
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Breweries</a>